@font-face {
    font-family: RobotoSlab-Bold;
    src: url('../../fonts/RobotoSlab-Bold.ttf');
}

#firstPageMain {
    font-family: RobotoSlab-Bold;
    width: 100%;
    height: 100vh;
    display: block;
}
#firstPageMain a,
#firstPageMain a:hover {
    text-decoration: none!important;
    color: white!important;
}


.exp {
    position: relative;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

@media (min-width: 992px) {
    .exp {
        width: 50%;
        float: left;
    }
}

@media (max-width: 992px) {
    .exp {
        width: 100%;
        height: 30%;
    }
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.aze .backgroundImage {
    background-image: url("../../images/baku.jpg");
}

.world .backgroundImage {
    background-image: url("../../images/world.jpg");
}

.backgroundOverLay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.aze:hover .backgroundImage {
    transform: scale(1.1);
}

.world:hover .backgroundImage {
    transform: scale(1.1);
}

.expLinkContent {
    border-radius: 4px;
    color: white;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
}

.extraBtn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
    border-radius: 4px;
    color: white;
    font-weight: 900;
    font-size: 30px;
}

@media (max-width: 992px) {
    .extraBtn {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: -10px;
        background-color: rgba(0, 0, 50, 0.9);
        padding: 20px 40px;
    }
    .expLinkContent,
    .extraBtn a {
        font-size: 20px;
    }
}